#backward {float: left; margin-top: 10px; margin-bottom: 10px;}
#forward, #goto_postquestionnaires {float: right; margin-top: 10px; margin-bottom: 10px;}

div.spacer {clear: both; border-bottom: 1px solid #a7a7a7; padding-bottom: 10px;}
img { padding: 5px;}
img.kuvitus {float: right;}
body { font-size: 1.8em; }

.optimal-reading-width {
    width: 35em;
}

.dropdown{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;

}

.dropdown-text{
    font-weight: bold;
}

.dropdown-text-left{
    font-weight: bold;
    text-align: left;
    margin-top: 4%;
}

.go-label {
    display: block;
    font-weight: normal;
}

.select_group {
    display: inline-block;
    /* text-align: center; */
}

.select_group-first{
    display: inline-block;
    text-align: right;
}

.select_group-last, attrakdiff_left {
    display: inline-block;
    text-align: left;
}

.sam-dropdown{
    text-align: center;
}

.sam_group {
    display: inline-block; 
    vertical-align: top; 
    font-size: 12px;   
    width: 12%;
}

.sam-label{
    font-weight: normal;
}

.sam-image {
    width: 90%;

}

.select_group, .select_group-first, .select_group-last, .sam_group {
        margin: 0 1% 0 1%;
}


.center_it_all {
    text-align: center;

}

.error_message {
    color: red;
}

.button-center {
    text-align: center;
    margin-bottom: 5%;
}

.sam_helper_left {
    float: left;
}

.sam_helper_right {
    float: right;
}

.preq-label{
    width: 50%;
    
}

.preq-input{
    width: 25%
}

.attrakdiff_word {
    width: 25%
}

.attrakdiff_left{
 text-align: right;
}

.attrakdiff_right {
    text-align: left;
}

.textarea {
    width: 100%;
    height: 6em;
}